.countdown{
    color: white;
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: space-evenly
}
.lin2{
    display: flex;
    gap: 20px;
    padding: 15px;
}
.img-etapa{
    padding: 4px;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5px;
}
.lin2{
    border-top: 1px solid;
    font-family: boldf1;
    line-height: 46px;
    font-size: 11px;
}
.left-countdown{
    background-color: black;
}
.left-countdown img{
    width: 60px;
}

.title-countdown-left{
    color: gold;
    padding: 8px 0px 10px 20px;
    font-size: 12px;
}
.right-countdown{
    background-color: #1f1f27;
    border-radius: 20px;
    padding-left: 10px;
    margin: 10px 0px;
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.right-countdown span{
    color: #949498;;
}
.text{font-size: 18px;font-family: boldf1;}
.rolex-logo-green{
    height:90px;
    background-color:white;
    border-radius: 10px;
}
.videoo{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

/*MEDIA COUNTDOWN INICIO*/

@media screen and (max-width:950px){
    .lin2{ 
        font-size: 9px;
        padding: 7px;
    }
    .text{
        font-size: 16px;
    }
    .right-countdown span{
        font-size: 13px;
    }
    .rolex-logo-green{
        height:80px;
        border-radius: 10px;
    }
    .right-countdown{
        border-radius: 20px;
        padding-left: 10px;
        margin: 10px 0px;
        gap: 20px;
        height: 80px;
    }
}
@media screen and (max-width:815px){
    .title-countdown-left {
        padding: 8px 0px 10px 20px;
        font-size: 7px;
    }
    .lin2{ 
        font-size: 7px;
        padding: 4px;
    }
    .left-countdown img{
        width: 45px;
    }
    .text{
        font-size: 12px;
    }
    .right-countdown span{
        font-size: 10px;
    }
    .rolex-logo-green{
        height:65px;
        border-radius: 10px;
    }
    .right-countdown{
        border-radius: 20px;
        padding-left: 10px;
        margin: 10px 0px;
        gap: 20px;
        height: 65px;
    }
}
@media screen and (max-width:680px){
    .left-countdown{
        width: 98%;
    }
    .right-countdown{
        max-width: 98%;
        margin: 0;
    }
    .countdown{
        flex-wrap: wrap;
    }

}
.button{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    transition: 0.4s;
}
.button:hover{
    color: red;
    cursor: pointer;
}
#rightcountdown2,#leftcountdown2{
    display: none;
}

.hide-block{
    display: block!important; 
}
.hide-flex{
    display: flex!important; 
}
.off{
    display: none; 
}

